
<div class="container">
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <button class="btn btn-danger" (click)= showSubscribe()>Subscribe Method</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger" (click)= showAsync()>Async pipe</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger" (click)= showMatTable()>Angular table</button>
        </div>
        <div class="col-md-3"></div>
    </div>

    
    <hr/>
    <br/>
    
            <app-async *ngIf= "showingAsync==true" [items$]= "products"></app-async>
        
        
            <app-subscribe  *ngIf= "showingSubscribe==true" [products]= "products"></app-subscribe>

            
            <app-mat-table  *ngIf= "showingMaterialTable==true" [products]= "products"></app-mat-table>
        
    
</div>

