
<div class="container">
    <h2 class="text-center">Products</h2>
    <br/>
    <h3 class="text-center text-warning">Async Pipe</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Color</th>
                <th>Expiry Date</th>
                <th>In Stock</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of items$ | async">
                <td><a [routerLink]= "['/product',p.id]">{{p.id}}</a></td>
                <td>{{p.title}}</td>
                <td>{{p.price}}</td>
                <td>{{p.quantity}}</td>
                <td>{{p.color}}</td>
                <td>{{p.expDate}}</td>
                <td *ngIf="p.inStock==true"><i class="fas fa-check fa-2x"></i></td>
                <td *ngIf="p.inStock==false"><i class="fas fa-times fa-2x"></i></td>
                <td><a  [routerLink]= "['/product',p.id,updateurl]"><button class="btn btn-success"><i class="fas fa-edit"></i></button></a></td>
                <td><a  [routerLink]= "['/product',p.id,deleteurl]"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a></td>
            </tr>
        </tbody>
    </table>
</div>
